@import url(https://unpkg.com/@kfonts/nexon-football-gothic-otf/index.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.text-basic{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.text-register{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.logo-text{
  font-family: 'Montserrat';
  font-size: 42px;
  font-style: italic;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}
.text-register-sub{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
